.container {
    width: 55%;
}

.show-blog {
    margin-bottom: 30px;
}
.blog-goBack {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
}

.blog-wrap {
    /* max-width: 90%; */
    margin: 0 auto;
}
.blog-wrap header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.blog-wrap header h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.blog-date {
    font-size: 1.5rem;
    color: #a9a9a9;
    font-weight: 500;
    display: flex;
    margin-bottom: 1rem;
}

.summary {
    background: rgba(139, 185, 151, 0.14);
    text-align: left;
    border-radius: 10px;
}

.summary ul {
    list-style: none;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.main-title {
    font-weight: 600;
}

.summary li h3 {
    color: #46694f;
    font-weight: 600;
    margin-top: 10px;
}

.summary a {
    color: black;
}
.blog-wrap img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.main-content {
    text-align: left;
}

.blog-desc {
    margin-bottom: 1.5rem;
}
