
.container {
    display: flex;
    justify-content: space-between;

    .left-content {
        position: relative;
    }

    // .fixed {
    //     position: fixed;
    // }

    .right-content {
        margin-right: 60px;
        margin-left: -20px;

        h1 {
            text-align: left;
            font-weight: 600;
            margin-top: 75px;
            margin-bottom: 20px;
            color: black;
        }
    }
}

@media (max-width: 1200px) {
    .left-content {
        display: none;
    }
}
