.carousel-control-next-icon {
    background-image: none !important;
}

.carousel-control-prev-icon {
    background-image: none !important;
}

.carousel-indicators {
    display: flex !important;
}

.carousel-indicators button {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
}
.active {
    background-color: blue !important;
}
