@keyframes mewup {

    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(30px);
    }
}

.wrapper {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--mainColor), #62a0d8);

}

.loginLayout {
    padding: 10px 0 10px 0;
    background-color: #457fb2;
    width: 500px;
    display: flex;
    justify-content: center;

    border-radius: 10px;

}

.login_content {
    position: relative;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.box-shoe1 {
    top: -90px;
    right: -70px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    animation: mewup 10s linear infinite;

    img {
        height: 150px;
        width: auto;
        // transform: rotate(20deg);

    }
}

.login_form {
    width: 100%;

    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        font-size: large;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

    }

}

form {

    input {
        color: white;

        background-color: #6e9cc4;
        padding: 10px;
        width: 100%;
        border-radius: 50px;
    }

    input+input {
        margin-top: 10px;
    }

    .login_btn {
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: space-between;
    }
}


.login_btn {
    .btn_submit {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: large;
        border-radius: 30px;
        background-color: var(--mainColor);
        color: white;
        font-weight: 700;
        width: 100%;
        padding: 10px;
    }
}