.chip {
    font-size: 1rem;
    background-color: rgb(192, 189, 189);
    color: black;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    width: fit-content;
    text-transform: capitalize;
}
